page-home {
    .toolbar-background {
        background: #FF5D22;
    }
    .toolbar-title {
        color: #fff;
    }

    .block-mentees {
        box-shadow: 1px 1px 10px #999; padding: 10px; border-radius: 3px;
    }
    
}
